.save-contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 15px 20px;
  height: 50px;
  background: rgba(160, 176, 187, 0.2);
}

.save-contact-text {
  margin-left: 15px;
  font-size: 18px;
  font-weight: 700;
}