.profile-edit-info-container {
  display: flex;
  align-items: center;
  height: 50px;
  margin-top: 10px;
}

.profile-edit-info-image-container {
  width: 40px;
  display: flex;
  align-items: center;
}

.profile-edit-info-text-container {
  display: flex;
  align-items: center;
  height: 50px;
  width: calc(100% - 40px);
  border-radius: 10px;
  background: rgba(160, 176, 187, 0.2);
}

.profile-edit-info-text {
  width: calc(100% - 80px);
  text-align: left;
  padding: 0px 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile-edit-info-option-button {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}